<div id="fenetre-inscription" class="inscription-rapide" style="width:860px;height:640px">
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}
	<div class="enveloppe-incitation">
		<img class="picto-mytdn" />
		<h1 class="incitation-inscription">Rejoins la bande des nanas, tu accèderas à pleins d'avantages, bons plans, cadeaux...</h1>
	</div>
	<section id="arguments" class="section-arguments">
		<h1 id="pourquoi" class="pourquoi">Pourquoi s'inscrire sur TDN ?</h1>
		<div class="blocwhy">
			<p><span class="numero">1</span>Fais partie d’une communauté 100% nanas pour se refiler des astuces, se serrer les coudes, échanger</p>
		</div>
		<div class="blocwhy">
			<p><span class="numero">2</span>Pose tes questions à tous nos experts : sexologue, psychologue, coiffeur, maquilleur, relookeur, diététicien</p>
		</div>
		<div class="blocwhy">
			<p><span class="numero">3</span>Un doute, un problème&nbsp;? Demande l’avis de la communauté des nanas et partage tes expériences</p>
		</div>
		<div class="blocwhy">
			<p><span class="numero">4</span>Enrichis TrucDeNana en partageant ta vidéo coup de coeur et en postant ton bon plan ou un scoop sur le fil info</p>
		</div>
		<div class="blocwhy">
			<p><span class="numero">5</span>Tous les vendredis reçois ta newsletter personnalisée et découvre en exclu le bon plan du week-end et ton astrolove</p>
		</div>
		<div class="blocwhy">
			<p><span class="numero">6</span>Deviens membre VIP pour gagner des offres privilèges et des cadeaux exclusifs en participant activement sur TrucDeNana</p>
		</div>
	</section>
	<section id="inscription" class="section-inscription">
		<div id="choix-inscription" class="bloc-inscription">
			<form class="public-form" action="{{ path('NanaBundle_registerCheck')}}" method="post" {{ form_enctype(form) }}>
				<p class="stitre">Crée ton compte avec </p>
				<div class="markRequirement">
					{{ form_row(form.user.username) }}
				</div>
				<div class="markRequirement">
					{{ form_row(form.user.email) }}
				</div>
				<div class="markRequirement">
					{{ form_row(form.user.password) }}
				</div>
				<div class="markRequirement">
					{{ form_row(form.user.dateNaissance) }}
				</div>
				<div class="markRequirement">
					{{ form_row(form.user.sexe) }}
				</div>
				<div class="markRequirement">
					{{ form_row(form.user.offresPartenaires) }}
				</div>
				<p class="texte-annexe">J'accepte les <a href="{#{ path('Document_mentionsLegales')}#}" class="" target="_blank">conditions d'utilisation</a> {{ form_widget(form.termsAccepted) }}</p>
				{{ form_row(form._token)}}
				<div class="bouton-fleche-blanche">
					<button type="submit" class="bouton">Valider</button>
				</div>
			</form>
		</div>
	</section>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#marylin_inscription_nana_user_username').on('focus', function() {
			$(this).css('border-color', 'black');
			$(this).val('');
			$('#username-warning').detach();
		});
		$('#marylin_inscription_nana_user_username').on('blur', function() {
			var data = {};
			data.username = $(this).val();
			if (data.username != '') {
				$.getJSON('/usernamechecker.json', data)
					.done(function (data) {
						console.log(data);
						var field = $('#marylin_inscription_nana_user_username');
						if (data.used == 1) {
							console.log('Pseudo déjà utilisé');
							field.css('border-color', 'red');
							field.parent().after('<p id="username-warning" class="register-warning">Ce pseudo est déja utilisé</p>');
						}
					})
					.fail(function (data) {
						console.log('Fail');
						console.log(data);
					})
					.always(function (data) {
						console.log('Always');
						console.log(data);
					})
			}
		})
		$('#marylin_inscription_nana_user_email').on('focus', function() {
			$(this).css('border-color', 'black');
			$(this).val('');
			$('#email-warning').detach();
		});
		$('#marylin_inscription_nana_user_email').on('blur', function() {
			var data = {};
			data.email = $(this).val();
			if (data.email != '') {
				$.getJSON('/mailchecker.json', data)
					.done(function (data) {
						console.log(data);
						var field = $('#marylin_inscription_nana_user_email');
						if (data.used == 1) {
							console.log('Email déjà utilisé');
							field.css('border-color', 'red');
							field.parent().after('<p id="email-warning" class="register-warning">Un autre compte utilise déjà cette adresse</p>');
						}
					})			
			}
		})
	})
</script>