{% for contenu in listeContenus %}
  <article class="carte coin_{{ rubriquePrincipale(contenu.lnThematique) }} verticale par-conseils">
    <div class="illustration"></div>
    <a href="{{ path('ConseilExpert_page', {'theme': contenu.lnThematique.slug, 'rubrique': contenu.lnThematique.slug, 'slug': contenu.slug, 'id':contenu.idDocument}) }}">
  {% if contenu.lnIllustration is not null%}
      <img class="vignette vignette-illustration" src="{{ illustration(contenu, 'SQUARE') }}" alt="{{ contenu.lnIllustration.alt }}" />
  {% endif %}
    </a>
    <div class="presentation">
      <p class="auteur">de {{ contenu.lnAuteur.username }}</p>
      <p class="publication">{{contenu.datePublication|date('d/m/Y')}}</p>
      <p class="titre">
        <a href="{{ contenu|targetURL }}">
        {{ contenu.titre[0:240] }}
        </a>
      </p>
      <p class="expert">{{ contenu.lnExpert.username}}, expert</p>
    </div>
  </article>
{% endfor %}    
