{% extends 'TDNDocumentBundle:Squelettes:blocBandeauVert.html.twig' %}

{% block corpsPublicationsRecentes %}
{% for rd in recents %}
<article class="bloc-conseil col-lg-6">
	<a href="{#{ c|targetURL }#}">
		<div class="rubriqueMarqueur iconex60 coin_{{ rubriquePrincipale(rd.lnThematique) }} col-lg-3">
			<img class="vignette" src="{{ illustration(rd, 'SQUARE') }}" alt="{{ rd.lnIllustration.alt }}" title="{{ rd.lnIllustration.alt }}" />
		</div>
	</a>
	<div class="col-lg-9 col-extended">
		{% if rd.lnAuteur is not null%}
		<p class="lienAuteur credits soude">
			<span class="as">de </span>
			<a class="{{ rubriquePrincipale(rd.lnThematique) }}" href="{#{ path('NanaBundle_profil', {'id': rd.lnAuteur.idNana}) }#}">
				{{ rd.lnAuteur.username }}
			</a> 
		{% endif %}
		<p class="datePublication credits">{{ rd.datePublication|date('d/m/Y') }}</p>
		<a href="{#{ c|targetURL }#}">
			<h4 class="apercuTexte">{{ rd.titre|raw }}</h4>
		</a>
		{% if rd.lnExpert is not null%}
		<p class="lienExpert credits">
			<span calss="as">Réponse de </span>
			<a class="{{ rubriquePrincipale(rd.lnThematique) }}" href="{#{ path('NanaBundle_profil', {'id': rd.lnExpert.idNana}) }#}">
				{{ rd.lnExpert.prenom~', '~rd.lnExpert.occupation }}
			</a>					
		</p>
		{% endif %}
	</div>
</article>
{% endfor %}
{% endblock %}