<div class="bloc-transparent">
	<div class="bandeau bloc-plus-lus row">
		<h3 class="titre-icone">Ça cartonne sur TDN</h3>
	</div>
	<div class="hot row colonnes-2">
	{% if articlesPlusLus is empty %}
		<p class="warning">Pas d'article publié à l'heure actuelle</p>
	{% else %}
		{% for a in articlesPlusLus %}
		{% set princeps = rubriquePrincipale(a.lnThematique) %}
		<article class="plus-lus {{ rubriquePrincipale(a.lnThematique) }}_secondaire row">
	 		{% set r = a.rubriques %}
			<div class="rubriqueMarqueur coin_{{ rubriquePrincipale(a.lnThematique) }} col-lg-4">
				<a href="{{ a|targetURL }}">
		 			<img class="vignette" src="{{ illustration(a) }}" alt="{#{ alt }#}" />
	 			</a>
	 		</div>
	 		<div class="notice col-lg-8 col-extended">
				<h4 class="soude" style="margin:0">
					<a href="{{ a|targetURL }}">{{ a.titre }}</a>
				</h4>
				<p class="credits soude">Par <a href="{#{ path('NanaBundle_profil', {'id': a.lnAuteur.idNana}) }#}" class="auteur">{{ a.lnAuteur.prenom~' '~a.lnAuteur.nom }}</a></p>
				<p class="credits datePublication">{{ a.datePublication|laps }}</p>
	 		</div>
		</article>
		{% endfor %}
	{% endif %}
	</div>
</div>

