{% extends 'TDNDocumentBundle:Squelettes:blocBandeauVert.html.twig' %}

{% block corpsPublicationsRecentes %}
<div class="float-wrapper">
{% for rd in recents %}
	<article class="accroche-article col-lg-4">
		<a href="{{ rd|targetURL }}">
			<div class="">
				<img class="full" src="{{ illustration(rd, 'SQUARE') }}" alt="{{ rd.lnIllustration.alt }}" title="{{ rd.lnIllustration.alt }}" />
			</div>
		</a>
		<h4 class="bordGauche_{{ rubriquePrincipale(rd.lnThematique) }}">{{ rd.titre }}</h4>
	</article>
{% endfor %}
</div>
{% endblock %}
