<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<title>{% block title %}{% endblock %} | Trucs De Nana</title>
	{% if canonical is defined %}
	<link rel="canonical" http="http://www.trucsdanana.com{{ canonical }}" />
	{% endif %}
	<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css' )}}" type="text/css">
	<meta name="google-site-verification" content="fq8zrWpv2MoWmc3miAE5MecQa2oy6F9gjj2OFRU0zEk" />
	<meta name="verification" content="2f58130aa4c3936441a51b3b7d85f013" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% stylesheets 
	'assets/css/sass/*'
	filter='cssrewrite' filter='sass'
	output='assets/css/TDN_large.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/colorbox.css') }}" />

	<!-- Polices de caractères -->
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<!--style>
		@font-face { font-family: Droid Sans; src: url('/assets/css/fonts/DroidSans.ttf'); } 
		@font-face { font-family: Questrial; src: url('/assets/css/fonts/Questrial-Regular.ttf'); } 
	</style-->

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>

	<!-- Affliliation aufeminin.com -->
	<script type="text/javascript">
	sas_tmstp=Math.round(Math.random()*10000000000);
	sas_masterflag=1;
	function SmartAdServer(sas_pageid,sas_formatid,sas_target) {
		if (sas_masterflag==1) {
			sas_masterflag=0;
			sas_master='M';
		} else {
			sas_master='S';
		};
		document.write('<scr'+'ipt src="http://network.aufeminin.com/call/pubj/' + sas_pageid + '/' + sas_formatid + '/' + sas_master + '/' + sas_tmstp + '/' + escape(sas_target) + '?"></scr'+'ipt>');
	}
	</script>

</head>
<body class="theme-{#{ sponsored }#}">
	<!-- Notifications et messages d'erreur -->
	{% include "TDNCoreBundle:Partiels:systemMessages.html.twig" %}

	<!-- Cadre global de la page -->
	<div id="colonne-principale" class="container">
		
		<!-- My TDN -->
		<div id="mytdn" class="container row mytdn-closed">
		{% render(controller("TDNNanaBundle:MyTDN:tiroir")) %}
		</div>

		<!-- Entête -->
		<div class="row">
			{% include "TDNCoreBundle:Partiels:entetePage.html.twig" %}
		</div>

		<!-- Menus -->
		<div class="row">
			{% include "TDNCoreBundle:Partiels:menuContenus.html.twig" %}
		</div>
		<div class="row">
			{% render(controller("TDNDocumentBundle:Rubrique:menuRubriques")) %}
		</div>

		{% include "TDNCoreBundle:Partiels:blocRecherche.html.twig" %}

		<!--  -->
		<main id="contenuPrincipal" class="row">
			
			<!-- Contenu Principal -->
			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bg-blanc en-scene">
				{% block contenuPrincipal %}{% endblock %}
			</section>

			<!-- Barre latérale -->
			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-blanc annexes">
				{% include "TDNCoreBundle:Partiels:colonneLaterale.html.twig" %}
			</aside>
		</main>

		<!-- Actus de la communauté -->
		<div id="actu-communaute" class="bloc-bandeau-violet row">
		{% include "TDNCoreBundle:Partiels:actuCommunaute.html.twig" %}
		</div>

		<!-- Pied de page -->
		<footer class="row appendices">
			{% include "TDNCoreBundle:Partiels:piedPage.html.twig" %}
		</footer>
	</div>

<script src="{{ asset('assets/js/jquery.colorbox-min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    console.log('Traitement des URL images');
    $('img').each(function() {
      var source = $(this).attr('src');
      var radix = source.substr(0,7);
      if (radix == '/photos'|| radix == '/upload') {
        $(this).attr('src', 'http://www.trucdenana.com'+source);
      }
    });

    // Configuration de la Colorbox
	$('a.popin').colorbox({'close': 'Fermer la fenêtre'});

  })
</script>
</body>
</html>