<div class="bloc-bandeau">
	<div class="bandeau fond-vert bloc-conseils-experts row">
		<h3 class="titre-icone">Dossiers de la rédaction</h3>
	</div>
	<div class="hot row">
	{% if recents is empty %}
		<p class="warning">Aucun conseil publié sur TDN</p>
	{% else %}
		{% for rd in recents %}
		<article class="bloc-conseil col-lg-12">
			<a href="{#{ c|targetURL }#}">
				<div class="rubriqueMarqueur iconex60 coin_{{ rubriquePrincipale(rd.lnThematique) }} col-lg-3">
					<img class="vignette" src="{{ illustration(rd, 'SQUARE') }}" alt="{{ rd.lnIllustration.alt }}" title="{{ rd.lnIllustration.alt }}" />
				</div>
			</a>
			<div class="col-lg-9 col-extended">
				<p class="datePublication credits">{{ rd.datePublication|laps }}</p>
				<h4 class="apercuTexte">
					<a href="{#{ rd|targetURL }#}">{{ rd.titre|raw }}</a>
				</h4>
			</div>
		</article>
		{% endfor %}
		<div class="lienSommaire">
			<a href="{#{ path('DossierRedaction_sommaire') }#}">Tous les dossiers</a>
		</div>		
	{% endif %}
	</div>
</div>
