{% extends 'TDNCoreBundle:Topoi:TDNSommaire.html.twig' %}

{% block title "Sommaire des articles" %}

{% block incipitSommaire %}
<span class="hot-number">{{ totalContenus }}</span> <strong>articles</strong> / Rubrique : {{ nomRubrique }}
{% endblock %}

{% block sommaireContenu %}
<div id="sommaire" class="sommaire">
  {% for contenu in listeContenus %}
    <article class="carte coin_{{ rubriquePrincipale(contenu.lnThematique) }} verticale par-conseils">
      <div class="illustration"></div>
      <a href="{{ contenu|targetURL }}">
    {% if contenu.lnIllustration is not null%}
        <img class="vignette vignette-illustration" src="{{ illustration(contenu, 'SQUARE') }}" alt="{{ contenu.lnIllustration.alt }}" />
    {% endif %}
      </a>
      <div class="presentation">
        <p class="auteur">par {{ contenu.lnAuteur.username }}</p>
        <p class="publication">{{contenu.datePublication|date('d/m/Y')}}</p>
        <p class="titre">
          <a href="{{ contenu|targetURL }}">
          {{ contenu.titre[0:240] }}
          </a>
        </p>
      </div>
    </article>
  {% endfor %}    
</div>  
<script type="text/javascript">
  $(document).ready(function () {
    var page = 1;
    $('#tri-rubrique #critere-tri').on('change', function () {
      $('#tri-rubrique').submit();
    });
    $('.bouton-suite').on('click', function () {
      page += 1;
      $.ajax({
        url: '{{ path(routeSommaire) }}',
        type: 'GET',
        data: {channel: 'ajax', page: page},
        dataType: 'html'
      })
      .success(function (html) {
        $("#sommaire").append(html);
      })
      .fail(function( jqXHR, textStatus ) {
        alert( "Request failed: " + textStatus )
      });
    })
  })
</script>
{% endblock %}