<div class="bloc-recherche row">
    <!-- Moteur de recherche -->
    <div class="recherche-rapide">
        <form name="recherche" id="recherche" action="{#{ path('Document_rechercheForm') }#}" method="get" enctype="">
            <input type="text" size="40" name="seed" placeholder="Expression à rechercher" />
            <input type="submit" name="quicksearch" class="submitter" value=">" />
        </form>
    </div>

    <!-- Icônes de liens vers les réseaux sociaux -->
    <div class="reseaux-sociaux">
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-fb "/> 
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-tw"/>  
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-ig"/> 
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-pi"/> 
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-yt"/> 
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-gplus"/> 
        <img src="{{ asset('assets/img/1x1.png') }}" class="icone-rs-app"/>
    </div>
</div>