<nav id="rubriquesNavigation">
	<ul class="menuRubriques">
	{% for rubriquePrincipale in princeps %}
	{% set menu = rubriquePrincipale.slug %}
	{% set titre = rubriquePrincipale.titre %}
		<li class="itemRubrique {{ menu }}" data-rubrique="{{ menu }}">
			<span class="mainMenuLabel"><a href="{{path('Core_sommaire_standard', {'slug': menu}) }}">{{ titre }}</a></span>
			<ul class="subMenu menu-masque">
			{% for subMenu in navigation[menu] %}
				<li class="itemSousRubrique">
					<a href="{#{path('Core_sommaire_standard', {'slug': subMenu.slug})}#}">{{ subMenu.titre}}</a>
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</nav>
<script type="text/javascript">

	$(document).ready(function () {
		$('.mainMenuLabel').on('mouseenter', function (event) {
			$(this).closest('.menuRubriques').find('.menu-visible').each(function () {
				$(this).toggleClass('menu-visible menu-masque');
				// var rubrique = menu.data('rubrique');
				// menu.toggleClass('menu-'+rubrique+"-selected");
			});
			// var menu = $(this).closest('.main-menu');
			// var rubrique = menu.data('rubrique');
			// menu.toggleClass('menu-'+rubrique+"-selected");
			$(this).closest('.itemRubrique').find('.subMenu').toggleClass('menu-visible menu-masque')
		});
		$('.itemRubrique').on('mouseleave', function () {
			$(this).find('.subMenu').each(function () { 
				$(this).toggleClass('menu-visible menu-masque')
				// var menu = $(this).closest('.main-menu');
				// var rubrique = menu.data('rubrique');
				// menu.toggleClass('menu-'+rubrique+"-selected");
			});
		});
	});
</script>

