<nav id="contenusNavigation">
	<ul class="menuContenus">
		<li class="itemContenu"><a href="{{ path('Article_sommaire') }}" class="lienContenu lienArticles">Articles</a></li>
		<li class="itemContenu"><a href="{{ path('ConseilExpert_sommaire') }}" class="lienContenu lienConseils">Conseils d'experts</a></li>
		<li class="itemContenu"><a href="{{ path('Causeuse_sommaire') }}" class="lienContenu lienQuestions">Questions de nanas</a></li>
		<li class="itemContenu"><a href="{{ path('Video_sommaire') }}" class="lienContenu lienVideos">Vidéos</a></li>
		<li class="itemContenu"><a href="{{ path('DossierRedaction_sommaire') }}" class="lienContenu lienDossiers">Dossiers</a></li>
		<li class="itemContenu"><a href="{{ path('Concours_sommaire') }}" class="lienContenu lienConcours">Jeux-concours</a></li>
		<li class="itemContenu"><a href="" class="lienContenu lienQuiz">Quiz</a></li>
	</ul>
</nav>