		<div class="col-lg-offset-2 col-lg-6">
			<a href="{{ path('Core_home') }}"><img class="sprite portraitDtmobile col-lg-1" src="{{ asset('assets/img/1x1.png')}}" alt="portrait par default" title="Trucs De Nana" /></a>
			<a href="{{ path('Core_home') }}"><img class="sprite escarpinmobile col-lg-1" src="{{ asset('assets/img/1x1.png')}}" alt="escarpin" title="Trucs De Nana" /></a>
			<a href="{{ path('Core_home') }}"><img class="sprite coeurmobile col-lg-1" src="{{ asset('assets/img/1x1.png')}}" alt="coeur" title="Trucs De Nana" /></a>
			<a href="{{ path('Core_home') }}"><img class="sprite newsmobile col-lg-1" src="{{ asset('assets/img/1x1.png')}}" alt="notif news" title="Trucs De Nana" /></a>
			<a href="{{ path('Core_home') }}"><img class="sprite mytdnmobile col-lg-1" src="{{ asset('assets/img/1x1.png')}}" alt="MyTDN" title="Trucs De Nana" /></a>

		</div>
