<div id="avis">
	<h2 class="titreFormContribution">Ajoute un commentaire</h2>
<form id="formCommentaire" class="formUser formCommentaire" name="formCommentaire" action="{{ path('Commentaire_add') }}" class="table-content" method="post">

	<figure class="avatar">
		<img src="{{ avatar(app.user) }}" class="avatar-image" alt="Avatar {% if app.user.username is defined %}de {{ app.user.username }}{% endif %}" title="{% if app.user.username is defined %}{{ app.user.username }}{% else %}Commentateur anonyme{% endif %}" />
	</figure>
	<div id="fields">
		{{ form_row(form._token) }}
		{{ form_row(form.idThread) }}
		<input type="hidden" name="idDocument" id="idDocument" value="{{ idDocument }}" />
		<div class="form-element">
			{{ form_row(form.texteCommentaire, {'attr': {'class': 'texteContribution'}} )}}
		</div>
		<div class="form-element formCellFollow">
			{{ form_row(form.abonne) }}
		</div>
		<div class="form-element formCellAntispam">
			<label for="antispam" class="inline-label" required><strong>1 + 1 vaut ?</strong> (question anti-spam)</label>
			<input type="text" name="antispam" id="antispam" size="8" required />
		</div>
	</div>
	
		<input type="submit" name="envoiCommentaire" value="Publier" style="float:right; margin-top:10px; margin-right:20px"/> 
	
</form>
</div>

{% if commentaires is defined %}
<h2 style="margin-left:10px; color:#488C8C">{{ commentaires|length }} commentaire{% if commentaires|length > 1 %}s{% endif %}</h2>
<div id="flux-commentaires">
	{% if commentaires is not empty %}
		{% for thread in commentaires %}
			<div class="commentaire-reponses" data-thread="{{ thread[0][0].idThread }}">
			{% for parts in 0..1 %}
				{% if thread[parts] is defined %}
				{% for c in thread[parts] %}
				{% if parts == 0 %}
					{% set commentClass = 'isMain' %}
					{% set style = 'visible' %}
				{% else %}
					{% set commentClass = 'isReponse' %}
					{% set style = 'stalled' %}
				{% endif %}
				{% set auteur = c.filAuteur %}
				{% if auteur is not null %}
					{% set alias = 'de '~auteur.username %}
				{% else %}
					{% set alias = 'anonyme' %}
				{% endif %}

				<!-- Bloc du commentaire -->
				<div class="commentaire-wrapper {{ style }} {{ commentClass }}">
					<figure class="avatar">
						{% if auteur is not null %}<a href="/profil/{{auteur.idNana}}">{% endif %}
						<img src="{{ avatar(auteur, 'sqr_') }}" class="avatar-image" alt="Avatar {{ alias }}" title="{{ alias }}" />
						{% if auteur is not null %}</a>{% endif %}
					</figure>
					<div class="commentaire">
						<p class="metadata">
							<span class="auteur">
								{% if auteur is not null %}
								<a href="/profil/{{auteur.idNana}}">{{ auteur.username }}</a>
								{% else %}
								Anonyme
								{% endif %}
							</span>
							{% if auteur is not null %}
							<span class="statut-tdn">
								{{ auteur.roles[0].name }}
							</span>
							{% endif %}
							<span class="date-publication">
								{{ c.datePublication|date('d/m/Y') }}
							</span>
						</p>
						<p class="texte">
							{{ c.texteCommentaire|raw }}
						</p>
						<p class="actions-commentaires">
					        <a href="{{ path('commentaireBundle_voteFor', { 'id': c.idCommentaire }) }}" class="bottomTextLink">J'aime
							<span style="color:#159993">
							{% if c.like > 0 %}{{ c.like }} {% if c.like > 1 %}{% endif %}{% endif %}
							</span>
							<img src="{{asset('assets/images/theme/commentaire/jaime.png')}}" align="absmiddle" title="J’aime"/>
							</a>
							{% if commentClass == 'isMain' %}
							<a href="#" id="responseCommentaire" class="bottomTextLink boutonReponse"> Répondre à ce commentaire </a>
							{% if (thread|length > 1) %}
								{% if (thread|length == 2) %}
								{% set labelReponses = 'la réponse' %}
								{% else %}
								{% set labelReponses = 'les ' ~ (thread|length - 1) ~ ' réponses' %}
								{% endif %}
								<a class="switchReponses unstall">Afficher {{ labelReponses }} à ce commentaire</a>
								<a class="switchReponses stalled">Masquer {{ labelReponses }}</a>
							{% endif %}
							{% endif %}
						</p>
					</div>
				</div>
				<!-- Fin du bloc commentaire -->
				{% endfor %}
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<p>Aucun commentaire pour ce contenu</p>
	{% endif %}
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.switchReponses').on('click', function () {
			$(this).parents('.commentaire-reponses').find('.switchReponses').toggleClass('stalled unstall');
			$(this).parents('.commentaire-reponses').find('.isReponse').toggleClass('stalled unstall');
			//$(this).toggleClass('unstall restall');
		});
		$(".boutonReponse").click(function (e) {
			e.preventDefault();
			var target = $(this).parents(".commentaire-reponses");
			var thread= $(target).data("thread");
			top = $(target).scrollTop();
			console.log(top);
			$("#avis").appendTo(target);
			var formReponse = $(target).children("#avis");
			var inviteAvis = $(formReponse).find(".invite-avis");
			$(inviteAvis).html('Ecris ta réponse');
			var threadInput =$(formReponse).find('input#tdn3_commentaire_simple_idThread');
			$(threadInput).val(thread);
			var texte = $(formReponse);
			$(texte).focus();
			return false;
		});
	});		
</script>
{% endif %}
