<div id="avis-communaute">
	<h2>Ajoute un commentaire</h2>
	<form id="formCommentaire" class="form-commentaire" name="formCommentaire" action="{#{ path('Commentaire_add') }#}" class="table-content" method="post">
		<figure class="avatar-contribue">
			<img src="{{ avatar(app.user) }}" class="avatar-image" alt="Avatar {% if app.user.username is defined %}de {{ app.user.username }}{% endif %}" title="{% if app.user.username is defined %}{{ app.user.username }}{% else %}Commentateur anonyme{% endif %}" />
		</figure>
		<div class="form-champs">
			{{ form_row(form._token) }}
			{{ form_row(form.idThread) }}
			<input type="hidden" name="idDocument" id="idDocument" value="{{ idDocument }}" />
			<div class="">
				{{ form_row(form.texteCommentaire, {'attr': {'class': 'texteContribution'}} )}}
			</div>
			<div class="form-options">
				<div class="">
					{{ form_row(form.abonne) }}
				</div>
				<div class="">
					<label for="antispam" class="inline-label" required><strong>1 + 1 vaut ?</strong> (question anti-spam)</label>
					<input type="text" name="antispam" id="antispam" size="4" required />
				</div>
				<div class="bouton-fleche-blanche">
					<button type="submit" class="bouton" name="envoiCommentaire" >Envoyer</button>
				</div>			
			</div>
		</div>
	</form>

	{% if commentaires is defined %}
	<h2>{{ commentaires|length }} commentaire{% if commentaires|length > 1 %}s{% endif %}</h2>
	<div id="flux-commentaires">
		{% if commentaires is not empty %}
			{% set i = 0 %}
			{% set commentStatut = '' %}
			{% for thread in commentaires %}
			{% if i == 3 %}{% set commentStatut = 'commentaire-masque' %}{% endif %}
				<div class="commentaire-reponses {{ commentStatut }}" data-thread="{{ thread[0][0].idThread }}">
				{% for parts in 0..1 %}
					{% if thread[parts] is defined %}
					{% for c in thread[parts] %}
					{% if parts == 0 %}
						{% set commentClass = 'commentaire-principal' %}
						{% set style = 'visible' %}
					{% else %}
						{% set commentClass = 'commentaire-reponse' %}
						{% set style = 'stalled' %}
					{% endif %}
					{% set auteur = c.filAuteur %}
					{% if auteur is not null %}
						{% set alias = 'de '~auteur.username %}
					{% else %}
						{% set alias = 'anonyme' %}
					{% endif %}

					<!-- Bloc du commentaire -->
					<div class="commentaire-wrapper {{ style }} {{ commentClass }}">
						<figure class="avatar">
							{% if auteur is not null %}<a href="/profil/{{auteur.idNana}}">{% endif %}
							<img src="{{ avatar(auteur, 'sqr_') }}" class="avatar-image" alt="Avatar {{ alias }}" title="{{ alias }}" />
							{% if auteur is not null %}</a>{% endif %}
						</figure>
						<div class="commentaire">
							<p class="metadata">
								<span class="auteur">
									{% if auteur is not null %}
									<a href="/profil/{{auteur.idNana}}">{{ auteur.username }}</a>
									{% else %}
									Anonyme
									{% endif %}
								</span>
								<span class="date-publication">
									{{ c.datePublication|laps }}
								</span>
								{% if auteur is not null %}{{ auteur.popularite|stiletto|raw }}{% endif %}
							</p>
							<p class="texte">
								{{ c.texteCommentaire|raw }}
							</p>
							<p class="actions-commentaires chaine-points">
						        <span>
									{% if true or c.like > 0 %}
									<span class="nombre-likes">{{ c.like }}</span>
									{% endif %}
									<a href="{#{ path('Commentaire_vote', { 'id': c.idCommentaire }) }#}" class="">J'aime</a>
								</span>
								{% if commentClass == 'isMain' %}
								<a href="#" id="responseCommentaire" class=""> Répondre à ce commentaire </a>
								{% if (thread|length > 1) %}
									{% if (thread|length == 2) %}
									{% set labelReponses = 'la réponse' %}
									{% else %}
									{% set labelReponses = 'les ' ~ (thread|length - 1) ~ ' réponses' %}
									{% endif %}
									<a class="switchReponses unstall">Afficher {{ labelReponses }} à ce commentaire</a>
									<a class="switchReponses stalled">Masquer {{ labelReponses }}</a>
								{% endif %}
								{% endif %}
							</p>
						</div>
					</div>
					<!-- Fin du bloc commentaire -->
					{% endfor %}
					{% endif %}
				{% endfor %}
				</div>
			{% set i = i + 1 %}
			{% endfor %}
		{% else %}
			<p>Aucun commentaire pour ce contenu</p>
		{% endif %}
		{% if i > 3 %}
		<div class="pli-commentaire pli-ferme">
			<p class="lienSommaire">Tous les commentaires ({{ commentaires|length }})</p>
		</div>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.switchReponses').on('click', function () {
			$(this).parents('.commentaire-reponses').find('.switchReponses').toggleClass('stalled unstall');
			$(this).parents('.commentaire-reponses').find('.isReponse').toggleClass('stalled unstall');
			//$(this).toggleClass('unstall restall');
		});
		$(".boutonReponse").click(function (e) {
			e.preventDefault();
			var target = $(this).parents(".commentaire-reponses");
			var thread= $(target).data("thread");
			top = $(target).scrollTop();
			console.log(top);
			$("#avis").appendTo(target);
			var formReponse = $(target).children("#avis");
			var inviteAvis = $(formReponse).find(".invite-avis");
			$(inviteAvis).html('Ecris ta réponse');
			var threadInput =$(formReponse).find('input#tdn3_commentaire_simple_idThread');
			$(threadInput).val(thread);
			var texte = $(formReponse);
			$(texte).focus();
			return false;
		});
		$('.pli-commentaire').click(function (e) {
			$('.commentaire-reponses').toggleClass('commentaire-masque commentaire-affiche');
			$(this).toggleClass('pli-ferme pli-ouvert');
			var bouton = $(this).children('.lienSommaire');
			if ($(this).hasClass('pli-ferme')) {
				bouton.html('Tous les commentaires');
			} else {
				bouton.html('Réduire les commentaires');
			}
		});
	});		
</script>
{% endif %}
