{% extends 'TDNCoreBundle:Topoi:TDNDocument.html.twig' %}

{% block corpsContenu %}
<!-- Bloc pour l'affichage des métadonnées de l'article -->
<header id="metadata" class="metadata">
   <p class="auteur">
     <span class="standard-etiquette">Publié </span> 
     <span class="standardEtiquette">le </span><span class="date-publication">{{ TDNDocument.datePublication | date('d/m/Y') }}</span>
   </p>
   <p>
    <span class="standard-etiquette">Rubrique :</span>
    {% if TDNDocument.lnThematique is not null %}
      <a href="{#{path('Core_sommaire', {'slug': TDNDocument.lnThematique.slug})}#}">
        <span class="rubrique-{{ rubriquePrincipale(TDNDocument.lnThematique) }}">{{ TDNDocument.lnThematique.titre }}
      </a>
    {% endif %}
    {% for r in TDNDocument.rubriques %}
      <a href="{#{path('Core_sommaire', {'slug': r.slug})}#}">
        <span class="rubrique-{{ rubriquePrincipale(r) }}">{{ r.titre }}
      </a>
    {% endfor %}
    </span>
   </p>
</header>

<!-- Bloc pour l'affichage du contenu de la question -->
<div id="corps" class="corps-video">
	<div class="enveloppe-video">
		{{ codeIntegration|raw }}
	</div>
	<div class="">
		<p>
			<span class="standardEtiquette">Durée : </span>{{ TDNDocument.duree }}
		</p>
		<div>{{ TDNDocument.abstract|raw }}</div>
	</div>
</div>

 <footer class="tags">
 {% if TDNDocument.filTags is not empty %}
   <ul class="tag-bag">
   {% for tag in TDNDocument.filTags %}
    <li class="tag">
      <a href="/recherche/{{ tag.expression }}">{{ tag.expression }}</a>
    </li>
   {% endfor %}
   </ul>
 {% else %}
 {{TDNDocument.tags|tags|raw}}
 {% endif %}
 </footer>
{% endblock %}