{% extends 'TDNNanaBundle:Pages:mySectionsProfil.html.twig' %}

{% block nanaData %}
<article id="document-wrapper" class="main article-redaction">
  <section class="contenu main-section">
    <!-- Bloc pour l'affichage des métadonnées de l'article -->
    <div id="metadata" class="metadata">
       <p class="auteur">
          <span class="standard-etiquette">Popularité : </span>   
          <span class="stiletto has-{{ me.popularite|grade }}-escarpins"></span>
          <span class="aide-escarpins"></span>
       </p>
       <p class="statut-nana">
        <span class="standard-etiquette">Statut :</span> 
        {% for r in me.roles %}
        <span class="role">{{ r.name }}</span>
        {% endfor %}
      </p>
    </div>

  <!-- Bloc pour l'affichage du contenu du profil -->
  <div id="corps" class="corps" style="margin-top:20px">
    {{ form_errors(form) }}
    <div id="enveloppe-avatar" class="col-lg-4">
      <div id="avatar">
        {% set imgAvatar = avatar(me, 'sqr_') %}
        <a class="popin" href="{{ imgAvatar }}" >
          <img src="{{ imgAvatar }}" class="profil-border contrainte" />
        </a>
      </div>
      <p id="avatar_switcher">
        <a href="{{ path('Nana_myAvatar') }}" class="popin">Changer ma photo de profil</a>
      </p>
    </div>
    <div>{{ form_errors(form) }}</div>
    <div id="donneesPersonnelles" class="enveloppe-data col-lg-8">
      <form name="editeur_profil" id="editeur_profil" action="{{ path('Nana_myIdentite', {'action': 'modifier'})}}" method="post" {#{ form_enctype(form) }#}>
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'champ-profil champ-tableau'}}) }}
        {{ form_label(form.dateNaissance) }}
        {{ form_widget(form.dateNaissance, {'attr': {'class': 'champ-profil champ-date'}}) }}
        {{ form_label(form.sexe) }}
        {{ form_widget(form.sexe, {'attr': {'class': 'champ-profil champ-radio'}}) }}
        {{ form_label(form.ville) }}
        {{ form_widget(form.ville, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        {{ form_label(form.occupation) }}
        {{ form_widget(form.occupation, {'attr': {'class': 'champ-profil champ-bloc'}}) }}
        <!---div class="rowDonneesPersonnelles">
          <span class="standardEtiquette">Membre de</span>
          <span class="data">
            <img src="{{ asset('assets/images/theme/centre/profil/picto_facebook_20x20.png')}}" />
            <img src="{{ asset('assets/images/theme/centre/profil/picto_tweeter_20x20.png')}}" /> 
            <img src="{{ asset('assets/images/theme/centre/profil/picto_hellocoton_20x20.png')}}" />
          </span>
          <span class="bascule"><a href="#" class="modif-bascule">Modifier</a></span>
        </div--> 
        {{ form_row(form.newsletter) }}
        {{ form_row(form.offresPartenaires) }}
        {{ form_row(form.biographie, {'id':'raw-biographie', 'attr': {'style': 'width:460px; height:200px;'}}) }}
        {{ form_rest(form) }}
        <p class="bouton-fleche-blanche">
          <button type="submit" class="bouton" />Enregistrer tes données perso</button>
        </p>
      </form>
    </div>
</section>
</article>
<script type="text/javascript">

  var $formLink = $('<a href="#" class="ajout-collection">Ajouter un profil</a>');
  var $socialConteneur = $('<div id="profils-sociaux"></div>');

function addCollectionDelete($formConteneur) {
    var $removeFormA = $('<a href="#">Supprimer ce profil</a>');
    $formConteneur.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // empêche le lien de créer un « # » dans l'URL
        e.preventDefault();
        // supprime l'élément li pour le formulaire de tag
        $formConteneur.remove();
    });
}
  function addCollectionForm(collectionHolder) {
      // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
      var prototype = collectionHolder.attr('data-prototype');

      // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
      // la longueur de la collection courante
      var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

      // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
      var $newFormLi = $('<div class="form-profil-social"></div>').append(newForm);
      //
      addCollectionDelete($newFormLi);
      //
      collectionHolder.append($newFormLi);
  }

  $(document).ready(function() {
    // Récupère le div qui contient la collection de tags
    var collectionHolder = $('#nana_complete_profil_filPresence');

    // ajoute l'ancre « ajouter un profil » et le conteneur au bloc
    // collectionHolder.append($socialConteneur);
    collectionHolder.after($formLink);
    collectionHolder.children().each(function () {
      addCollectionDelete($(this));
    })

    $formLink.on('click', function(e) {
        // empêche le lien de créer un « # » dans l'URL
        e.preventDefault();
        // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
        addCollectionForm(collectionHolder);
    });
});
</script>
{% endblock %}