{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('NanaBundle_loginCheck') }}" method="post">
    <div class="loginFields">
	    <label for="username">Pseudo </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" style="height:18px"/>
     
        <label for="password">Mot de passe </label>
        <input type="password" id="password" name="_password" style="height:18px" />

	   <input id="envoyer" type="submit"  name="envoyer" value="" class="loginSubmit">
    </div>
	<div class="loginFields rememberField">
		<input type="checkbox" id="remember_me" name="_remember_me" checked />
	    <label for="remember_me">Conserver la connexion ouverte</label>
    </div>


    {{ form_row(form._token) }}

    {# redirection si indiquée dans le contrôleur #}
    {% if redirect_path is defined %}
        {% if redirect_params is defined %}
            <input type="hidden" name="_target_path" value="{{ path(redirect_url, redirect_params) }}" />
        {% else %}
            <input type="hidden" name="_target_path" value="{{ path(redirect_url) }}" />
        {% endif %}
    {% endif %}

</form>

