{% extends 'TDNCoreBundle:Topoi:TDNSommaire.html.twig' %}

{% block title "Sommaire des jeux-concours" %}

{% block incipitSommaire %}
<span class="hot-number">{{ totalContenus }}</span> <strong>jeux-concours</strong> / Rubrique : {{ nomRubrique }}
{% endblock %}

{% block sommaireContenu %}
<div id="sommaire" class="sommaire liste-concours">
  <div class="featured">
  {% for featured in featuredContenus %}
    <article class="carte concours coin_{{ rubriquePrincipale(featured.lnThematique) }} col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="illustration col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="{{ featured|targetURL }}">
    {% if featured.lnIllustration is not null%}
        <img class="vignette vignette-illustration" src="{{ illustration(featured, 'SQUARE') }}" alt="{{ featured.lnIllustration.alt }}" />
    {% endif %}
      </a>
      </div>
      <div class="presentation col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p class="titre">
          <a href="{{ featured|targetURL }}">
          {{ featured.titre[0:240] }}
          </a>
        </p>
        <p class="metadata">
          <span class="etiquette type-tirage">{{ typesJeu[featured.typeJeuConcours] }}</span>
          <span class="etiquette date-limite">{{ featured.dateArret |date('d/m/Y') }}</span>
        </p>
      </div>
      <p class="bouton-participe">
        <a class="submitter" href="{{ path('Concours_page', {'theme': featured.lnThematique.slug, 'rubrique': featured.lnThematique.slug, 'slug': featured.slug, 'id':featured.idDocument}) }}">Je participe</a>
      </p>
    </article>
  {% endfor %}
  </div>

  <h2>Jeux-concours fermés (voir les gagnantes)</h2>
  {% for contenu in listeContenus %}
    <article class="carte coin_{{ rubriquePrincipale(contenu.lnThematique) }} concours par-concours">
      <div class="illustration">
      <a href="{{ contenu|targetURL }}">
    {% if contenu.lnIllustration is not null%}
        <img class="vignette vignette-illustration" src="{{ illustration(contenu, 'SQUARE') }}" alt="{{ contenu.lnIllustration.alt }}" />
    {% endif %}
      </a>
      </div>
      <div class="presentation">
        <p class="titre">
          <a href="{{ contenu|targetURL }}">
          {{ contenu.titre[0:240] }}
          </a>
        </p>
        <p class="metadata">
          <span class="etiquette cloture">{{ contenu.dateArret|laps }}</span></p>
      </div>
    </article>
  {% endfor %}    
</div>  
<script type="text/javascript">
  $(document).ready(function () {
    var page = 1;
    $('#tri-rubrique #critere-tri').on('change', function () {
      $('#tri-rubrique').submit();
    });
    $('.bouton-suite').on('click', function () {
      page += 1;
      $.ajax({
        url: '{{ path(routeSommaire) }}',
        type: 'GET',
        data: {channel: 'ajax', page: page},
        dataType: 'html'
      })
      .success(function (html) {
        $("#sommaire").append(html);
      })
      .fail(function( jqXHR, textStatus ) {
        alert( "Request failed: " + textStatus )
      });
    })
  })
</script>
{% endblock %}