{% extends 'TDNDocumentBundle:Squelettes:blocBandeauVert.html.twig' %}

{% block corpsPublicationsRecentes %}
<div class="dernieres col-lg-6">
{% if live is not empty %}
	<a href="{#{ live|targetURL }#}">
		<h4>{{live.titre}}</h4>
		<p class="videoAbstract">{{ videoAbstract|raw }}</p>
	</a>
{% endif %}
	<div class="videosRecentes row">
	{% for rd in recents %}
		<a href="{#{ rd|targetURL }#}">
	  		<img class="snapshot" src="{{ illustration(rd) }}" class="" />
		</a>
	{% endfor %}
	</div>
</div>
<div class="scene">
{% if codeIntegration is defined %}
	<div class="rubriqueMarqueur coin_{{ rubriquePrincipale(live.lnThematique) }}">
		<div class="lecteur">
		{{ codeIntegration|raw }}
		</div>
	</div>
{% endif %}
</div>
{% endblock %}