{% for contenu in listeVideos %}
  <article class="carte coin_{{ rubriquePrincipale(contenu.lnThematique) }}">
    <a href="{{ contenu|targetURL }}">
      {% if contenu.vignette is not empty %}
          <img class="snapshot vignette" src="{{ contenu.vignette }}" alt="{{ contenu.titre }}" title="{{ contenu.titre }}"  />
      {% else %}
          <img class="snapshot vignette" src="{{ illustration(contenu) }}" alt="{{ contenu.titre }}" title="{{ contenu.titre }}" />
      {% endif %}
    </a>
    <p class="titre">
      <a href="{{ contenu|targetURL }}">
      {{ contenu.titre[0:240] }}
      </a>
    </p>
    <footer class="metadata">
      <span class="publication">
        {{contenu.datePublication|date('d/m/Y')}}
      </span>
      <span class="vues">
        {{ contenu.commentThread }} vues
      </span>
    </footer>
    
  </article>
{% endfor %}    
